@font-face {
	font-family: 'hel';
	src:url('hel.otf');
}
@font-face {
	font-family: 'hello';
	src: url('hello.ttf');
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
}

#lol {
	margin: 50px;
}

.bar {
	background-color: #009900;
	transition-property: color, width, opacity;
	-webkit-transition-property: color, width, opacity;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1.0);
}

.percent{
	transition-property: opacity;
	-webkit-transition-property: opacity;
	font-size: 2em;
	font-family: hel;
}

.label {
	transition-property: opacity;
	-webkit-transition-property: opacity;
	font-size: 1em;
	color: #666666;
	font-family: hello;
}

.lineLabel {
	font-family: hello;
}

.graphHeader {
	font-size: 5em;
	font-family: 'hel';
	display: block;
	margin-bottom: 20px;
}

.graphBar {
	transition-property: color, width, opacity, left;
	-webkit-transition-property: color, width, opacity, left;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1.0);
}